<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.EducationalDomain.Scripts.Testcase4"/>
      <class name="com.EducationalDomain.Scripts.Testcase3"/>
      <class name="com.EducationalDomain.Scripts.Testcase2"/>
      <class name="com.EducationalDomain.Scripts.Testcase1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
